@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
button {
  border: none;
}
body {
  background-color: black;
  color: white;
  /* max-width: 1300px; */
  opacity: 0.9;
}
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1300px;
  z-index: 1;
  padding: 1px 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 48px;
  backdrop-filter: blur(22px);
  background-color: rgba(0, 0, 0, 0.65);
}

.right_head {
  width: 20%;
  margin-right: 15px;
  padding-top: 7px;
}
.right_head img {
  width: 45px;
  margin-left: 0px;
}
.middle_head {
  display: flex;
  justify-content: space-between;
  width: 50%;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  align-items: center;
}

.end_head {
  background-color: rgb(42, 41, 41);
  padding: 8px;
  width: 25%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin-left: 20px;
}
.endbar {
  background-color: rgb(42, 41, 41);
  height: 500px;
  padding: 15px;
  width: 25%;
  margin-left: 20px;
}

.end_head img {
  width: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.end_head p {
  display: inline;
  color: rgb(126, 124, 124);
  font-size: 15px;
}
main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 48px;
  height: 1000px;
}
.left_body {
  width: 20%;
  margin-right: 15px;
  position: relative;
}

.left_inner {
  position: fixed;
  width: inherit;
}

.left_body .sidebar {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 70%;
  margin-bottom: 15px;
  border-radius: 25px;
}
.left_body .sidebar:hover {
  background-color: #222;
}
.left_body .sidebar img {
  width: 25px;
  margin-right: 20px;
}
.left_body #toptweet {
  background-color: #1d9bf0;
  color: white;
  text-align: center;
  width: 90%;
  padding: 15px;
  border-radius: 30px;
  margin-top: 40px;
}
.left_body .left_inner #feathertweet {
  display: none;
  background-color: #1d9bf0;
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

.middle_body {
  width: 50%;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
.profile .happen {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.profile #profile {
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.profile .happen p {
  font-size: 18px;
  opacity: 0.4;
}
.import {
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.import button {
  margin-right: 20px;
  background-color: rgb(20, 84, 194);
  border-radius: 50px;
  padding: 5px 20px;
  margin-bottom: 20px;
}
.middlebar .show_tweet {
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.middlebar a .show_tweet {
  color: rgb(20, 84, 194);
  text-decoration: none;
}

.trendnav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 10px;
}
.trendnav p {
  opacity: 0.4;
  font-size: 13px;
}
.trendnav h4 {
  margin-top: ;
}
@media (max-width: 1287px) {
  main,
  header {
    max-width: 1000px;
  }
  .middle_body,
  .middle_head {
    width: 60%;
  }
}
@media (max-width: 1287px) {
  .left_body,
  .right_head {
    width: 4%;
  }
  .left_body .left_inner .sidebar h3 {
    display: none;
  }
  .left_body .left_inner #toptweet {
    display: none;
  }
  .left_body .left_inner #feathertweet {
    display: block;
  }
}
